build/bin
build/release
build/build.log
dist/
build/windows/icon.ico
build/windows/rsrc_*.syso
build/darwin/iconfile.icns
*-res.syso
node_modules
frontend/dist/*
!frontend/dist/.gitkeep
frontend/package.json.md5
.swoop-deps.txt
